.secao {

    color: var(--creme);
    height: 100vh;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    /* align-content: space-around; */
}

.conteudo {
    display: flex;
    align-items: center;
    width: 50%;

}

.imagem {
    width: 50%;
    padding-right: 2rem;

    img {
        background-position: center;
        background-size: cover;
        width: 100%;
    }
}

.conteudo>* {
    flex: 1;
}

@media (max-width: 767px) {

    .secao {
        flex-direction: column;
        padding-top: 0;
        height: 100%;
    }

    .conteudo {
        display: flex;
        align-items: center;
        width: 100%;

    }

    .imagem {
        width: 75%;
        padding-right: 0;
        padding-bottom: 50px;

        img {
            background-position: center;
            background-size: cover;
            width: 100%;
        }
    }

    .conteudo>* {
        flex: 1;
    }

}