.botao {
    /* width: 200px; */
    font-family: var(--fonte-primaria);
    color: var(--branco);
    font-weight: 700;
    font-size: 1.2rem;
    border: 0;
    padding: 0.75rem 2rem;
    /* box-shadow: 0px 5px 1px var(--preto); */
    transition: 0.25s;
    border-radius: 10px;
}

.botao:hover {
    cursor: pointer;
    translate: 2px 2px;
    opacity: 80%;
}
