.secao {
    color: var(--creme);
    height: 100vh;
    min-height: 900px;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    /* align-content: space-around; */
}

.conteudo {
    display: flex;
    align-items: center;
    width: 60%;

}

.imagem {
    width: 40%;
    padding-left: 2rem;

    img {
        background-position: center;
        background-size: cover;
        width: 100%;
        max-width: 450px;
    }
}

.conteudo>* {
    flex: 1;
}

@media (max-width: 747px) {

    .secao {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .conteudo {
        width: 100%;
    }

    .imagem {
        width: 80%;
        max-width: 350px;
        padding-left: 0;
    }




}