.secao {
    background-color: var(--preto);
    color: var(--creme);
    text-align: center;
    min-height: 600px;
    padding: 2rem 0rem;
}

.secao h3 {
    color: var(--laranja);
    text-shadow: black 5px 5px;
    font-size: 48px;
    letter-spacing: 2px;
    font-family: var(--fonte-secundaria);
    margin: 0;
    font-weight: 500;
}

.topico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3rem;
    padding: 1rem;
    border: solid 2px var(--creme);
    border-radius: 50px 10px 10px 10px;
    transition: 0.25s;
}

.topico:hover {
    scale: 1.01;
    opacity: 80%;
    background-color: var(--preto2);
    cursor: pointer;
}

.topico p {
    color: var(--laranja);
    font-weight: 700;
    font-size: 1.5rem;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      translate: 0px 50px;
    }
    to {
      opacity: 1;
      translate: 0px 0px;
    }
  }

.detalhe1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeIn 2s 0s forwards;
}

.detalhe1 img {
    margin: 2rem 0;
    width: 600px;
    border-radius: 10px;
}

.detalhe1 p {
    text-align: justify;
    line-height: 1.75rem;
    font-size: 1.25rem;
    width: 80%;
}

.detalhe1 .italico {
    font-style: italic;
    font-size: 1rem;
}

.detalhe1 h4 {
    font-size: 2rem;
    color: var(--laranja);
}

.detalhe2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 5%;
    animation: fadeIn 2s 0s forwards;
}

.detalhe2 p {
    margin: 0 auto;
}

.detalhe2 ul {
    list-style: decimal;
    margin: 2rem auto;
    padding-left: 0;
    text-align: center;
}

.detalhe2 li {
    margin: 1.5rem auto;
    display: block;
    width: 80%;
}

.detalhe2 img {
    margin: 2rem 0;
    width: 600px;
}

.detalhe3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 5%;
    animation: fadeIn 2s 0s forwards;
}

.detalhe3 p {
    margin: 0 auto;
}

.detalhe3 img {
    margin: 2rem 0;
    height: 600px;
}

@media (max-width: 744px) {

    .secao h3 {
        font-size: 32px;
        margin-bottom: 2rem;
    }

    .topico {
        margin: 1.5rem 2.5%;
    }

    .topico p {
        font-size: 1rem;
    }

    .detalhe1 img {
        margin: 1rem 0;
        width: 85%;
    }

    
    .detalhe1 p {
        text-align: justify;
        line-height: 1.75rem;
        font-size: 1rem;
        width: 90%;
    }

    .detalhe1 .italico {
        font-size: 0.8rem;
    }

    .detalhe1 h4 {
        font-size: 1.3rem;
    }
    
    .detalhe1 h4 {
        margin: 0 5%;
    }
    
    .detalhe2 {
        font-size: 1rem;
        width: 90%;
    }

    .detalhe2 img {
        margin: 1rem 0;
        width: 85%;
    }

    .detalhe3 {
        font-size: 1rem;
        width: 90%;
    }

    .detalhe3 img {
        margin: 1rem 0;
        height: 400px;
    }
}