.secao{
    background-color: var(--preto);
    color: var(--creme);
    text-align: center;
    min-height: 600px;
    padding: 2rem 0rem;
    height: 100vh;
    /* min-height: 900px; */
    padding-right: 2rem;
    padding-left: 2rem;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    color: var(--creme);
    text-align: center;
    padding: 4rem 0rem;
    gap: 1.5rem;
    /* flex-wrap: wrap; */
}

.titulo {
    color: var(--laranja);
    text-shadow: black 5px 5px;
    font-size: 48px;
    letter-spacing: 2px;
    font-family: var(--fonte-secundaria);
    margin: 0;
    font-weight: 500;
}

.texto {
    font-style: italic;
    font-size: 28px;
    font-weight: 300;
    color: var(--laranja);
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}


.icon {
    color: var(--creme);
    vertical-align: middle;
    margin-right: 0.7rem;
}

@media (max-width: 747px) {

    .secao{
        height: 100%;
    }

    .conteudo{
        flex-direction: column;
        align-items: stretch;
    }

    .titulo {
        font-size: 32px;
    }

}