body {
  margin: 0;
  font-family: var(--fonte-primaria);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --preto: #13131a;
  --preto2: #1a1a23;
  --vermelho: #BB0029;
  --vermelho2: #83001c;
  --laranja: #F5841A;
  --creme: #F2E8C6;
  --branco: #fff;
  --fonte-primaria: 'Montserrat', sans-serif;
  --fonte-secundaria: 'Playfair Display', serif;
}